<mat-card >
  <mat-card-title>
    Jingle My Monday
  </mat-card-title>
  <mat-card-content>
    Welcome stranger! <br>
    Here is where I shall entice you to checkout this hot service <br>
    that all the kids and Deborah at the bus stop can't stop raving about. <br> <br>
    Ready to get Jingled?
  </mat-card-content>
  <img mat-card-image src="https://picsum.photos/400" style='height: 500px;'>
  <mat-card-actions>
    <button mat-raised-button color="primary" routerLinkActive='active' [routerLink]="['/sign-up']">what the heck is this?</button>
    <button mat-raised-button color="primary" routerLinkActive='active' [routerLink]="['/sign-up']">sign up</button>
  </mat-card-actions>
</mat-card>